.hero{
    width: 100%;
    height: calc(100vh - 120px);
    overflow: hidden;

    background-image:url("../images/home/bg_space.png");
    background-size:278%;
    background-position:center;
    background-repeat:no-repeat;
}

.cat-container{
    width:100%;
    height:100%;

    display:flex;
    flex-direction:column;

    justify-content:center;
    align-items:center;
}

.cat-image{
    width:420px;
    display:block;
}

.hero-text{
    margin-top:32px;
    text-align:center;
}

.hero-text h1{
    color:white;
    font-size:20px;
    font-weight:700;
    letter-spacing:2px;
}

.hero-text p{
    margin-top:3px;
    color:white;
    font-size:14px;
    font-weight:400;
}

.cat-wrapper{
    position:relative;
    cursor:pointer;
}

/* 정지 이미지 */
.cat-idle{
    position:relative;
    z-index:1;
    opacity:1;
}

/* GIF */
.cat-run{
    position:absolute;
    top:0;
    left:0;
    opacity:0;
    pointer-events:none;
    z-index:2;
}

/* Hover */
.cat-wrapper:hover .cat-idle{
    opacity:0;
}

.cat-wrapper:hover .cat-run{
    opacity:1;
}