.hero {
    width: 100%;
    min-height: calc(100vh - 120px);

    background-image: url("../image/home/bg_space.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    overflow: hidden;
}