html,
body{
    margin:0;
    padding:0;
    min-height:100%;
}

body{
    background-image:url("../images/home/bg_space.png");
    background-repeat:repeat;
    background-position:top left;
    background-size:800px;
}

main{
    min-height:100vh;
}

.project-card{
    width:min(1400px, 92vw);
    min-width: 1440px;
    aspect-ratio:16 / 9;

    margin:80px auto;

    background:url("../images/work/project-box01") center/100% 100% no-repeat;
}

.project-content{
    width:100%;
    height:100%;

    padding:90px 110px;

    display:flex;
    justify-content:space-between;
    align-items:flex-start;

    box-sizing:border-box;
}

.project-container{
    width: 100%;
    overflow-x: hidden;
}

.project-body{
    display:flex;

    justify-content:space-between;
    align-items:flex-start;

    gap:60px;
}

.project-title{
    margin:0 0 40px 0;

    color:#fff;

    font-size:54px;
    font-weight:700;
}

.project-thumbnail-wrap{
    width:100%;
    aspect-ratio:16/9;
    flex:7;
    overflow:hidden;

    border-radius:8px;
}

.project-thumbnail{
    display:block;

    width:100%;
    height:100%;

    object-fit:cover;
    object-position:center;

    transition:.3s;
}

.project-left{
    flex:7;
}

.project-right{
    flex:3;

    display:flex;
    flex-direction:column;

    height:100%;
}

/* 프로젝트 설명문구 */

.project-star{
    display: flex;
    justify-content: center;
    margin-bottom: 28px;
}

.project-star img{
    width: 34px;
    height: auto;
}

.project-description{
    font-size: 24px;
    line-height: 1.7;
        display:-webkit-box;
    -webkit-box-orient:vertical;
    -webkit-line-clamp:7;   /* 최대 7줄 */
    overflow:hidden;
    margin-bottom: 60px;
}

/* 버튼 */
.project-btn{
    margin-top: auto;
    display:flex;
    justify-content:space-between;
    align-items:center;

    width:320px;
    height:68px;

    padding:0 32px;

    border:2px solid #ff5fb7;
    border-radius:18px;

    color:#ff79c9;
    text-decoration:none;

    background:#17141c;

    font-size:22px;
    font-weight:700;

    box-shadow:
        0 0 8px rgba(255,95,183,.6),
        inset 0 0 8px rgba(255,95,183,.25);

    transition:.25s;
}

.project-btn:hover{
    background:#211929;

    box-shadow:
        0 0 20px rgba(255,95,183,.9),
        inset 0 0 12px rgba(255,95,183,.45);

    transform:translateY(-2px);
}

.arrow{
    font-size:36px;
    transition:.25s;
}

.project-btn:hover .arrow{
    transform:translateX(8px);
}
/*  */